
html, body {
height: 100%;
margin: 0;
padding: 0;
color: white;
}

.main-nav {
  color: white;
  z-index: 11;
  position: absolute;
  top: 25px;
  left: 25px;
  float: right;
}

#bio div {
  top: 200px;
  left: 200px;
  margin: 10px;
  padding: 10px;
  border: 2px solid white;
  float: left; 
  z-index: 12;
  position: relative;
}

#title {
    color:rgb(251, 239, 244);
    z-index: 10;
    text-align: center;
    position: relative;
    font-family: 'Bangers', cursive;
    font-size: 60px;
    letter-spacing: 10px;
    font-weight: lighter;
    text-shadow: 5px 5px darkslategray;
    width: 100%; 
    height: 100vh;
    margin: 0px;
    display: inline-block;
}

#logo {
    width: 100vw;
    margin: 0 auto;
    margin-top: 20vh;
    font-size: 3em;
    padding: 0px;
}

.icon-menu{
   color:rgb(251, 239, 244);  
   font-size: 40px;
   font-weight: lighter;
   margin-bottom: 10px;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  font-size: 15px;
}

.main-nav:hover ul {
  display: block;

}

.main-nav ul li {
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.tab a {
 color:rgb(251, 239, 244); 
 letter-spacing: 3px;
 text-decoration: none;
 margin-top: 10px;
}

form {
  position: absolute;
  top: 250px;
  right: 425px;
  z-index: 12;
}

#form {
height: 100%;
width: 100%;
}

input {
background-color: black;
color: white;
border-radius: 7px;
font-size: 3em;
}

#map {
height: 100%;
width: 100%;
z-index: 10;
}

#earth {
  margin-top: 100px;
  z-index: 1;
  left: 50%;
  top: 50%;
  position: absolute;
}



#content {
  color: lightgreen;
}